<!DOCTYPE html>
<html>
  <head>
    <title>awesome_icons</title>

    <script type="text/javascript">
      window.joosy = {
        libraries: <%= extract_sources_and_sizes_from_include_tag('awesome_icons') %>,
        environment: '<%= Rails.env.to_s %>'
      };
      window.awesomeIcons = {};
      window.awesomeIcons.currentUser = <%= raw current_user.to_json %>;
    </script>

    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= javascript_include_tag 'awesome_icons_preloader' %>
    <div id="application">
      <div id="preloader">
        Loading application...
        <span id="percents">0%</span>
      </div>
    </div>
  </body>
</html>